.highlight {
  border-radius: 0.2rem;
  color: white;
  padding: 0.2rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.blue {
  background-color: steelblue;
}
.orange {
  background-color: darkorange;
}

.red {
  background-color: lightcoral;
}
.green {
  background-color: mediumseagreen;
}